@model IDictionary<string, string>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Your content:</h3>
    @{
        foreach (var i in Model)
        {
            <p>@i.Key : @i.Value</p>
        }
    }
</body>
</html>