<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>HomePage</h1>
    </div>
    <hr />
    <div>
        <h3>Components are below:</h3>
        @await Component.InvokeAsync("Test")
    </div>
</body>
</html>