@page
@model Example349.Pages.RegisterModel
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Registration</title>
    </head>
    <body>
        <div>
            <p>
                <h1>New Member</h1>
            </p>
            <div>
                Add a member
            </div>
        </div>
    </body>
    </html>