@page
@model Example349.Pages.StartModel

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <h2>Home Page</h2>
            <h4>Other</h4>
        </div>
        <hr />
        <div>
            <a href="/regnew">Register</a>
            <a href="/showlist">Show Users</a>
        </div>
    </body>
    </html>