<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="height:100px;position:relative;background-color:slateblue">
        <p style="color:white;font-size:40px;position:absolute;margin-left:15px;">
            Ease web site
        </p>
    </div>
    <div style="margin-top:35px;margin-bottom:45px;">
        @RenderBody()
    </div>
    <div>
        <hr />
        All rights reserved.
    </div>
</body>
</html>