@model Microsoft.AspNetCore.Hosting.IHostingEnvironment

    <div style="color:red;font-size:18px;">
        <p>
            Application Name:@Model.ApplicationName
        </p>
        <p>
            Current Environment:@Model.EnvironmentName
        </p>
    </div>