@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
<div>
    <h4>
        Application Name:@env.ApplicationName
    </h4>
    <h4>
        Excuting Environment:@env.EnvironmentName
    </h4>
</div>