@page "/"
@model Example350.Pages.MainModel
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h2>Home Page</h2>
        <div>
            <a href="/musics">MyMusics</a>
            <a href="/photos">MyPhotos</a>
        </div>
    </body>
    </html>